<!--
<sca-menubar header="menu.header" menu="menu.top" active="active_menu" profile="menu._profile" user="menu.user"></sca-menubar>
-->
<div class="container">
    <div id="page-wrapper">
        <h1 class="page-header">Complete Registration</h1>
        <h3>Hello There!</h3>
        <p>It looks like this is your first time logging in. Please complete your registration by providing a few more details about you.</p>
        <!--<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
        <form ng-submit="submit();">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="form.username" name="username" disabled/>
            </div>
            <!--
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="form.email" name="email" disabled/>
            </div>
            -->
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" ng-model="form.fullname" name="fullname" required/>
            </div>
            <div class="panel panel-default" ng-if="serverconf.local">
                <div class="panel-body">
                    <p>Although you can signin to this application using your 3rd party authentication service, it's good to have another way to signin in case you have problem with your 3rd party authentication service.</p>
                    <p>If you'd like to use the application's built in username / password authentication, please choose your password.</p>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="form.password" placeholder="Pick a new password"/>
                        <password-strength password="form.password" user="form"></password-strength>
                    </div>
                    <div class="form-group">
                        <label>Password (Confirm)</label>
                        <input type="password" class="form-control" 
                            ng-model="form.password_confirm" 
                            match="form.password_confirm != form.password ? 'Passwords don\'t match' : ''"/>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn" value="Submit"/>
        </form>
    </div>
    <ng-include src="'t/footer.html'"></ng-include> <!--should this be part of view?-->
</div>

