<div class="fixed-top">
    <div class="header">
        <div class="container">
            <h2>Settings</h2>
        </div>
    </div>
    <sca-menutab menu="settings_menu" active="'groups'" user="menu.user"></sca-menutab>
</div>
<div class="container" style="margin-top: 130px;">
    <form ng-submit="submit()" class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Group Name *</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" ng-model="group.name" required>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Group Description</label>
            <div class="col-sm-10">
                <textarea class="form-control" ng-model="group.desc"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Admins</label>
            <div class="col-sm-10">
                <ui-select multiple ng-model="$parent.admins" required>
                    <ui-select-match placeholder="Select admins who can update this group">
                        <img gravatar-src="$item.email" gravatar-size="17"/>
                        <b>{{$item.fullname}}</b> <span class="email">&lt;{{$item.email}}&gt;</span>
                    </ui-select-match>
                    <ui-select-choices repeat="user in users | propsFilter: {fullname: $select.search, email: $select.search}">
                      <img gravatar-src="user.email" gravatar-size="17"/>
                      <b>{{user.fullname}}</b> <small>&lt;{{user.email}}&gt;</small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Members</label>
            <div class="col-sm-10">
                <ui-select multiple ng-model="$parent.members" required>
                    <ui-select-match placeholder="Select members of this group">
                        <img gravatar-src="$item.email" gravatar-size="17"/>
                        <b>{{$item.fullname}}</b> <span class="email">&lt;{{$item.email}}&gt;</span>
                    </ui-select-match>
                    <ui-select-choices repeat="user in users | propsFilter: {fullname: $select.search, email: $select.search}">
                      <img gravatar-src="user.email" gravatar-size="17"/>
                      <b>{{user.fullname}}</b> <small>&lt;{{user.email}}&gt;</small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="group.active"> Active
                    </label>
                </div>
            </div>
        </div>
        <div class="pull-right">
            <button type="button" class="btn" ng-click="cancel()">Cancel</button>
            <button type="submit" class="btn btn-primary"><span ng-if="group.id">Update</span><span ng-if="!group.id">Create</span></button>
        </div>
    </form>
    <br>
    <ng-include src="'t/footer.html'"></ng-include> <!--should this be part of view?-->
</div>

