<div class="header">
    <div class="container">
        <button type="button" ng-click="edit('new')" class="btn pull-right">New Group</button>
        <h2>Groups</h2>
    </div>
</div>
<!-- <sca-menutab menu="admin_menu" active="'admingroups'" user="menu.user"></sca-menutab> -->
<div class="container">
    <div class="form-group">
    </div>
    <ul class="list-group">
        <li class="list-group-item" ng-repeat="group in groups">
            <div class="pull-right edit_button" ng-if="group.canedit">
                <button type="button" ng-click="edit(group.id)" class="btn btn-xs pull-right"><i class="fa fa-pencil-square-o"></i></button>
            </div>
            <h4>
                <small class="text-muted">{{group.id}}</small> {{group.name}} 
                <span class="label label-danger" ng-if="group.active == false">Inactive</span>
                <p class="help-block">{{group.desc}}</p>
            </h4>
            <!--
            <p>
                <span> {{group.email}} <span class="label label-success" ng-if="user.email_confirmed">Confirmed</span> | </span>
                <span ng-if="user.x509dns"> X509DNs: {{user.x509dns}} | </span>
                <span ng-if="user.iucas">IUCAS: {{user.iucas}} | </span>
                <span ng-if="user.googleid">Google ID: {{user.googleid}} | </span>
                <span ng-if="user.gitid">Git ID: {{user.gitid}} | </span>
                <span ng-if="user.password_hash" class="label label-warning">password set</span>
            </p>
            -->
            
            <div class="row">
                <div class="col-md-4">
                    <h5>Admins</h5>
                    <userlist users="group.Admins"></userlist>
                    <!--
                    <small><pre>{{group.Admins|json}}</pre></small>
                    -->
                </div>
                <div class="col-md-8">
                    <h5>Members</h5>
                    <userlist users="group.Members"></userlist>
                    <!--
                    <small><pre>{{group.Members|json}}</pre></small>
                    -->
                </div>
            </div><!--row-->
        </li>
    </ul>
    <ng-include src="'t/footer.html'"></ng-include> <!--should this be part of view?-->
</div>

