<div ng-if="password_strength">
<span class="label label-danger" ng-if="password_strength.score == 0">Very Weak {{password_strength.feedback.suggestions}}</span>
<span class="label label-warning" ng-if="password_strength.score == 1">Weak {{password_strength.feedback.suggestions}}</span>
<span class="label label-warning" ng-if="password_strength.score == 2">OK</span>
<span class="label label-success" ng-if="password_strength.score == 3">Strong</span>
<span class="label label-success" ng-if="password_strength.score == 4">Very Strong</span>
</div>

<!--<pre>{{password_strength|json}}</pre>-->
