<div ng-if="password_strength">
<span class="label label-danger" ng-if="password_strength.score == 0">Very Weak (cracks in {{password_strength.crack_time| number:0}} seconds)</span>
<span class="label label-warning" ng-if="password_strength.score == 1">Weak (cracks in {{password_strength.crack_time| number:0}} seconds)</span>
<span class="label label-warning" ng-if="password_strength.score == 2">OK (cracks in {{password_strength.crack_time| number:0}} seconds)</span>
<span class="label label-success" ng-if="password_strength.score == 3">Strong (cracks in {{password_strength.crack_time| number:0}} seconds)</span>
<span class="label label-success" ng-if="password_strength.score == 4">Very Strong (cracks in {{password_strength.crack_time| number:0}} seconds)</span>
</div>

