<div class="container">
    <div id="page-wrapper">
        <h1 class="page-header">Set Password</h1>
        <h3>Hello There!</h3>
        <p>It looks like this is your first time logging into this system. Please reset your application password in case you are not able to login via 3rd party authentication services.</p>
        <!--<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
        <form ng-submit="submit();">
            <div class="form-group">
                <label>Username</label>
                <input type="text" disabled class="form-control" ng-model="form.username" name="username"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="form.password" name="password" placeholder="Pick a new password" required/>
                <password-strength password="form.password" user="form"></password-strength>
            </div>
            <div class="form-group">
                <label>Password (Confirm)</label>
                <input type="password" class="form-control" ng-model="form.password_confirm" name="password" placeholder="" match="form.password"/>
            </div>
            <input type="submit" class="btn" value="Submit"/>
        </form>
    </div>
</div>

