<div class="container">
    <div id="page-wrapper">
        <h1 class="page-header">Set Password</h1>
        <p>Hello There!<p>
        <p>It looks like this is your first time logging into this system. Please complete the registartion by choosing your password in case you need to login through 
        your password.</p>
        <!--<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>-->
        <form ng-submit="submit();">
            <div class="form-group">
                <label>Username</label>
                <input type="text" disabled class="form-control" ng-model="form.username" name="username"/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="form.password" name="password" placeholder="Pick a new password" required/>
            </div>
            <div class="form-group">
                <label>Password (Confirm)</label>
                <input type="password" class="form-control" ng-model="form.password_confirm" name="password" placeholder="" match="form.password"/>
            </div>
            <input type="submit" class="btn btn-lg" value="Submit"/>
        </form>
    </div>
</div>

