<style>
body {
    /*TODO Let background image customizable? */
    background-color: #ddd;
}
</style>
<!--<sca-menubar header="menu.header" menu="menu.top" active="active_menu" profile="menu._profile" user="menu.user"></sca-menubar>-->
<div class="container">
    <div class="center-block">
        <img class="logo" ng-src="{{appconf.logo_400_url}}"/>
        <div class="form-group" ng-if="serverconf.x509">
            <button type="button" class="btn btn-warning btn-block" ng-click="begin_x509()">
                <i class="fa fa-certificate" style="font-size: 150%"></i> Login with X509 Certificate
            </button>
        </div>
        <div class="form-group" ng-if="serverconf.git">
            <button type="button" class="btn btn-primary btn-block" ng-click="begin_git()">
                <i class="fa fa-github" style="font-size: 150%"></i> Login with Github
            </button>
        </div>
        <div class="form-group" ng-if="serverconf.iucas">
            <button type="button" class="btn btn-danger btn-block" ng-click="begin_iucas()">
                <img src="images/trident.png"/>&nbsp;&nbsp;&nbsp;Login with IU Account
            </button>
        </div>
        <div ng-if="serverconf.local || serverconf.ldap">
            <div class="form-group" ng-if="serverconf.x509 || serverconf.git || serverconf.iucas">
                <center>or</center>
            </div>
            <form ng-submit="submit()">
                <div class="form-group">
                    <div class="input-group" ng-if="serverconf.local && !serverconf.ldap">
                        <span class="input-group-addon"><i class="fa fa-envelope" style="width: 30px;"></i></span>
                        <input class="form-control" name="username" type="text" placeholder="Username or Email" ng-model="userpass.username" required/>
                    </div>
                    <div class="input-group" ng-if="serverconf.ldap">
                        <span class="input-group-addon">
                            <i ng-if="!appconf.ldap_logo" class="fa fa-envelope" style="width: 30px;"></i>
                            <img ng-if="appconf.ldap_logo" ng-src="{{appconf.ldap_logo}}" style="margin: 0 8px 0 7px" height="15"></img>
                        </span>
                        <input class="form-control" name="username" type="text" placeholder="Username" ng-model="userpass.username" required/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-lock" style="width: 30px;"></i></span>
                        <input class="form-control" name="password" type="password" placeholder="Password" ng-model="userpass.password" required/>
                    </div>
                </div>
                <div class="form-group">
                    <input class="btn btn-block" type="submit" value="Login"/>
                </div>
            </form>
            <hr>
            <div ng-if="serverconf.allow_signup !== false">
                <center>First time here? &nbsp;&nbsp;<a href="#/signup"><b>Sign Up</b></a></center>
                <br>
            </div>
            <center class="text-muted">
                <a href="#/forgotpass">Forgot Password?</a>
            </center>
        </div>
        <!--
        <pre ng-show="jwt_dump">{{jwt_dump}}</pre>
        <p ng-show="!jwt_dump" class="muted">You are not logged in.</p>
        -->
    </div>
</div>

