<div class="container">
    <div id="page-wrapper">
        <h1 class="page-header">Signup</h1>
        <form ng-submit="submit();">
            <p class="help-block" ng-if="jwt">This is your first time you've accessed this application. Please complete your registration.</p>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="form.username" name="username" placeholder="Pick a username" required/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="form.email" name="email" placeholder="Enter your email address" required/>
            </div>
            <div class="form-group">
                <label>Full Name</label>
                <input type="text" class="form-control" ng-model="form.fullname" name="fullname" placeholder="Enter your full name" required/>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" ng-model="form.password" placeholder="Choose your password" required/>
                        <password-strength password="form.password" user="form"></password-strength>
                    </div>
                    <div class="form-group">
                        <label>Password (Confirm)</label>
                        <input type="password" class="form-control" 
                            ng-model="form.password_confirm" 
                            placeholder="Enter the same password" 
                            match="form.password_confirm != form.password ? 'Passwords don\'t match' : ''"/>
                    </div>
                </div>
            </div>
            <input type="submit" class="btn" value="Submit"/>
        </form>
    </div>
    <ng-include src="'t/footer.html'"></ng-include> <!--should this be part of view?-->
</div>
