<div class="container">
    <div id="page-wrapper">
        <h1 class="page-header">Signup</h1>
        <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
        <form ng-submit="submit();">
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" ng-model="form.username" name="username" placeholder="Pick a username" required/>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="email" class="form-control" ng-model="form.email" name="email" placeholder="Enter your email address" required/>
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" ng-model="form.password" name="password" placeholder="Pick your password" required/>
            </div>
            <input type="submit" class="btn btn-lg" value="Submit"/>
        </form>
    </div>
</div>

