body {
  /*font-family: 'Lato', serif;*/
}
.center-block {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
  max-width: 500px;
  background-color: white;
  box-shadow: 0px 0px 15px #666;
  border-radius: 2px;
}
.logo {
  margin: 0px 0px 30px 0px;
  width: 100%;
}
.list-group-item-heading {
  margin-bottom: 0px;
}
.header {
  padding: 10px;
  padding-left: 20px;
  background-color: #eee;
}
.header h2 {
  margin: 5px;
}
.settings img.account {
  height: 27px;
  margin-top: 8px;
}
.settings li.heading {
  background-color: #eee;
}
.settings li.heading-clickable:hover {
  cursor: pointer;
  background-color: #ccc;
}
