'use strict';

//this is checked in to git as default
//nothing sensitive should go here (since it will be published via web server anyway)

angular.module('app.config', [])
.constant('appconf', {

    title: 'Authentication Service',

    admin_email: 'hayashis@iu.edu',
    logo_400_url: 'images/soichidev.jpg',

    ldap_logo: 'images/iulogo.png',
    ldap_label: 'IU Username',

    oauth2_logo: 'images/cilogon.png',
    oauth2_label: 'InCommon Institutional',

    oidc_logo: 'images/cilogon.png',
    //oidc_label: 'CILogon',

    //URL for auth service API
    api: '../api/auth',

    //URL for x509 validation API base
    x509api: 'https://dev1.soichi.us:9443',

    //deprecated - always set auth_redirect
    //default location to redirect after successful login

    default_redirect_url: '/auth/#!/settings/account',  //don't start with #

    jwt_id: 'jwt',
    iucas_url: 'https://cas.iu.edu/cas/login',

    jwt_whitelist: ['soichi7.ppa.iu.edu', 'dev1.soichi.us'], //list of domains to allow jwtInterceptor to send jwt to

    //show/hide various login options
    show: {
        //local and ldap shouldn't be used at the same time
        local: true,
        //ldap: true,

        x509: true,
        google: false,
        github: true,
        facebook: true,

        iucas: false,
        facebook: false,
        orcid: true, 

        oidc: true, //cilogon openid-connect service
        oidc_selector: false, //show idp selector

        signup: true,
    },
});


